body{
    overflow: auto;
 }
 #head{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    padding:10px;
    width:90%;
    max-width: 1260px;
 }
 
 #head .input{
   border:0;
   background-color: #00ff0000;
   color:white;
   font-size: 30px;
   cursor: pointer;
   font-weight:700;
   text-align:right;
 }
 #head #user_home_login{
    border:0;
    background-color: #00ff0000;
    color:white;
    font-size: 30px;
    cursor: pointer;
    font-weight:700;
    text-align:right;
 }
 #head .input #input{
    border:0;
    background-color: #00ff0000;
    color:white;
    font-size: 30px;
    cursor: pointer;
    font-weight:700;
 }
 #search{
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #search #search_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width:100%;
 }
 #search #search_box #search_app{
    width:98%;
    font-size:20px;
    border:0;
    padding:13px;
    padding-left: 15px;
    padding-right: 15px;
    background:rgba(255,255,255,0.43);
    color:white;
    
 }
 #search #search_box #search_app::placeholder{
    color:white;
 }
 #search #search_box #search_btn{
    /*width:20%;*/
    /*max-width:150px;*/
    font-size:23px;
    border:0;
    background-color: #00ff0000;
    cursor: pointer;
    color:white;
    margin-left:25px;
 }
 #search #search_box #search_btn:hover{
    text-decoration: underline;
 }
 #search #search_img{
    position:absolute;
    top:-70px;
    right:30px;
 }
 .category_body{
    height:100%;
    width:100%;
    padding-top:60px;
    padding-bottom: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:6%;
 }
 .category_body #category_context{
    height:100%;
    text-align: left;
    display: flex;
    color: white;

 }
 .category_body #category_context #app_view{
    min-width: 620px;
    max-width: 1280px;
 }
 .category_body #category_context #app_view .category_app_card{
    border-radius:5px;
    width:30%;
    margin-bottom:10px;
    margin-top:18px;
    margin-right:1.5%;
    margin-left: 1.5%
 }
 .category_body #category_context #app_view .category_app_card .category_app_img_box{
    padding:25px;
    padding-top:30px;
    padding-bottom:30px;
    margin-bottom: 5px;
    background:rgba(255,255,255,0.43);
    border-radius: 20px;
    cursor:pointer;
 }
 .category_body #category_context #app_view .category_app_card .category_app_img_box .category_img_card img{
    width:45%;
 }
 .category_body #category_context #app_view .category_app_card .category_app_img_box .category_img_card{
    position: relative;
 }
 .category_body #category_context #app_view .category_app_card .category_app_img_box .category_img_card #category_app_name{
    margin-left: 10px;
    font-size: 30px;
    position:absolute;
    right:0;
    top:0;
 }
 .category_body #category_context #app_view .category_app_card .category_app_img_box:hover{
    border:2px solid white;
 }
 .category_body #category_context #app_view .category_app_card .category_app_text{
    margin-top: 10px;
    color:white;
    overflow: auto;
    font-size: 20px;
 }